<html>

<head>
    <style>
        body {
            font-size: 18px;
        }

        th {
            font-weight: bold;
        }

        li {
            margin-bottom: 8px;
        }

        .title {
            font-size: 24px;
            font-color: red;
        }
    </style>
</head>

<body>
    <p>You registered Honey account, please onboard to start use our application. Please click on this <a href={{link_onboard}}>link</a>link to complete onboard.</p>
</body>

</html>